    <!--Footer Section-->
    <footer class="section white indigo-text text-darken-4 center">
        <h2 class="brand-logo">Huma Care</h2>
        <p class="flow-text">Copyright &copy; 2022, Huma Care.All rights reserved</p>
    </footer>   