<div class="navbar-fixed">
    <nav class="indigo darken-4">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Huma Care</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <!-- Used for hamburger icon targetting mobile devices-->
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <!-- hides when the screen size is medium and less than that-->
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/home?show_registration_modal=true">Get Started</a>
                    </li>
                    <li>
                        <a href="/home?show_login_modal=true">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-nav">
    <!-- hides when the screen size is medium and less than that-->
    <li>
        <a href="/about">About Us</a>
    </li>
    <li>
        <a href="/contact">Contact</a>
    </li>
    <li>
        <a href="/home?show_registration_modal=true" class="btn white indigo-text text-darken-4">Get Started</a>
    </li>
    <li>
        <a href="/home?show_login_modal=true" class="btn white indigo-text text-darken-4">LOGIN</a>
    </li>
</ul>