<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Script tag for Fontawesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
        integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
        crossorigin="anonymous"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Huma Care</title>
</head>

<body id="About">
    <!--Navigation Bar-->
    <%- include ('./partials/navbar') %>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <h1 class="header center indigo-text">Our Mission & Vision</h1>
        </div>
    </div>
        <!--Mission & Vission-->
        
        <section class="section section-icons white lighten-4 center">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                              <img src="assests/unsplash_mission.jpg">
                              <span class="card-title">Our Mission</span>
                            </div>
                            <div class="card-content">
                                <ul class="collapsible">
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">chair</i>No more waiting for hours.</div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">assignment</i>Make consultation booking easy.</div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">access_time</i>Efficient use of time.</div>
                                    </li>
                                  </ul>                                
                            </div>
                          </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                              <img src="assests/unsplash_vission.jpg">
                              <span class="card-title">Our Vision</span>
                            </div>
                            <div class="card-content">
                                <ul class="collapsible">
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">looks_one</i>Be the number one in consultation booking.</div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">local_hospital</i>Make it easy to manage patients and appointments for clinics.</div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">check_circle</i>Onboard many clinics and doctors.</div>
                                      </li>
                                  </ul>       
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Team Introduce-->
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
              <h1 class="header center indigo-text">Our Team</h1>
              <div class="row center">
                <h5 class="header col s12 light"> The HumaCare team believes in the potential of our great idea, and it truly shows in all of our work. We work tirelessly in order to bring you a better tomorrow, and we’re proud of every single member of staff.</h5>
              </div>        
            </div>
          </div>
        <section class="section section-icons white lighten-4 center">
            <div class="container">
                <div class="row">
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                              <img src="assests/unsplash_avatar1.jpg">
                            </div>
                            <br></br>
                            <span class="card-title indigo-text">Akhila Kolluru</span>
                            <br></br>
                          </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                              <img src="assests/tamim.jpg">
                            </div>
                            <br></br>
                            <span class="card-title indigo-text">Tamim Ibn Aman</span>
                            <br></br>
                          </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                              <img src="assests/unsplash_avatar2.jpg">
                            </div>
                            <br></br>
                            <span class="card-title indigo-text">TingTing Lu</span>
                            <br></br>
                          </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include ('./partials/footer') %>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</html>