<h1>Dashboard</h1>
<%- include ('./partials/messages') %>
<p> Welcome <%= patient.email %></p>
<a href="/patients/update">Update Profile</a></br>
<a href="/patients/changePassword">Change password</a></br>
<a href="/patients/logout">Logout</a>
