
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <!-- Script tag for Fontawesome-->
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
    crossorigin="anonymous"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Huma Care</title>
</head>
<!--Navigation Bar-->
<div class="navbar-fixed">
    <nav class="indigo darken-4">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Huma Care</a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <!-- Used for hamburger icon targetting mobile devices-->
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <!-- hides when the screen size is medium and less than that-->
            <li>
                <a href="/doctors/appointments">View appointments</a>
            </li>
            <li>
                <a href="">Change Password</a>
            </li>
            <li>
              <a href="/doctors/logout" class="btn white indigo-text text-darken-4">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-nav">
    <!-- hides when the screen size is medium and less than that-->
    <li>
        <a href="/doctors/appointments">View appointments</a>
    </li>
    <li>
        <a href="#">Change password</a>
    </li>

    <li>
      <a href="/patients/logout" class="btn white indigo-text text-darken-4">Logout</a>
    </li>
  </ul>
  <!-- Dashboard section-->
  <section>
      <div class="container">
          <div class="row">

          </div>
      </div>
  </section>
<%- include ('./partials/messages') %>

<p>Doctor Dashboard</p>
<p>"<%=doctor.name%>"</p>
<a href="/doctors/appointments" class="btn white indigo-text text-darken-4">View appointments</a>