<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->

  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <!-- Script tag for Fontawesome-->
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
    crossorigin="anonymous"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Huma Care</title>
</head>

<body>
 <form action="/patients/login" method="POST" class="login">
    <h1> Login </h1>
    <%- include ('./partials/messages') %>
    <input type="text" placeholder="Email Address" required />
    <input type="password" placeholder="Password" required />
    <button type="sumbit">Login</button>
  </form>
</body>
</html>