<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link rel="stylesheet" href="../css/main.css">
     <!-- Script tag for Fontawesome-->
     <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <title>Huma Care</title>
</head>
<body class="patientHome" action="/patient">
    <!--Navigation Bar-->
    <%- include ('./partials/navbar') %>
    <!--Registration section-->
    <section class="register">
        <div class="container white darken-4 indigo-text text-darken-4">
            <div class="row" style="padding-bottom: 5%;">
                <!-- Register slide-->
                <div class="col s6">
                    <form action="/patients/register" class="card-panel indigo-text text-darken-4" method="POST">
                    <h2>Welcome to Huma Care</h2><br>
                    <h6>Our professional doctors strive to provide the very best care for our patients. Start your digital journey with Huma Care Profile</h6>
                    <%- include ('./partials/messages') %>
                    <div class="input-field">
                      <label>Name</label><br>
                      <input type="text" id="name" name="name"><br>
                    </div>
                    <label>Gender</label><br>
                    <label>
                        <input type="radio" id="male" name="gender" value="m">
                        <span>Male</span>
                    </label>
                    <label>
                        <input type="radio" id="male" name="gender" value="f">
                        <span>Female</span>
                    </label>
                    <label>
                        <input type="radio" id="male" name="gender" value="n">
                        <span>Rather not say</span>
                    </label>
                    <div class="input-field">
                        <label>Date of Birth</label><br>
                        <input type = "date" class = "datepicker" name="birthdate">  
                    </div>
                    <div class="input-field">
                      <label>Email</label><br>
                      <input type="email" id="userEmail" name="email"><br>
                    </div>
                    <div class="input-field">
                      <label>Password</label><br>
                      <input type="password" id="userPassword" name="password"><br>
                    </div>
                    <div class="input-field">
                      <label>Confirm Password</label><br>
                      <input type="password" id="userPassword2" name="password2" ><br>
                    </div>
                    <input type="submit" value="Submit" class="btn indigo white-text" id="formSubmit">
                 
                    <p>If you already have an account, please <a href="/patients/login"class="">login</a> here.</p>
                    </form>
                </div>
                
                <!-- Photo slide-->
                <div class="col s6" style="padding-top: 150px;">
                    <img class="materialboxed" width="500" src="../assests/patientFile.png">
                </div>
            </div>
        </div>
    </section>
    <!-- Easy update section-->
    <section class="easyUpdate indigo darken-4">
        <div class="container white-text">
            <div class="row">
                <!--Image Slide-->
                <div class="col s6">
                    <img class="materialboxed" width="400" src="../assests/patientProfile.png">
                </div>
                <div class="col s6" >
                    <h2>Edit your profile from anywhere, effortlessly</h2><br>
                    <ul>
                        <li>-Add or modify your details with ease</li>
                        <li>-Edit your diagnosis information up to date</li>
                        <li>-Manage your appointments anytime</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <%- include ('./partials/footer') %>
</body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</html>